<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="static/css/screens/aboutstyle.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-left">
        <a href="index" class="navbar-logo">졸업작품</a>
      </div>
      <ul class="navbar-menu">
        <div class="navbar_list">
          <li><a href="tech">TECH</a></li>
          <li><a href="about">ABOUT US</a></li>
          <li><a href="map">SOLAR MAP</a></li>
          <li><a href="contact">CONTACT</a></li>
        </div>
      </ul>
      <div class="navbar-right">
        <button class="new-button">
          <i class="fas fa-bars"></i>
        </button>
      </div>
    </nav>
    <div class="wrap">
      <div class="main-scroll">
        <div class="more-screen">
          <div class="tech-screen">
            <div class="more">
              <h2 class="more_title">ABOUT FIELD</h2>

              <div class="more_info">
                <p>한국공학대학교 경영학부 졸업 작품 팀원 소개</p>
              </div>
              <div class="about-wrapper">
                <div class="field_item">
                  <div class="field_item_bg">
                    <img src="/static/img/item01.jpg" />
                  </div>
                  <div class="field_item_info">
                    <div class="field_item_info_title">Flow chart</div>
                    <div class="field_item_info_des">
                      어쩌구저쩌구 설명 알아서 채워 넣으세요 가나다라마바사
                      아자타카ㅏ우러ㅜ어
                    </div>
                  </div>
                </div>
                <div class="field_item">
                  <div class="field_item_bg">
                    <img src="/static/img/item01.jpg" />
                  </div>
                  <div class="field_item_info">
                    <div class="field_item_info_title">Flow chart</div>
                    <div class="field_item_info_des">
                      어쩌구저쩌구 설명 알아서 채워 넣으세요 가나다라마바사
                      아자타카ㅏ우러ㅜ어
                    </div>
                  </div>
                </div>
                <div class="field_item">
                  <div class="field_item_bg">
                    <img src="/static/img/item01.jpg" />
                  </div>
                  <div class="field_item_info">
                    <div class="field_item_info_title">Flow chart</div>
                    <div class="field_item_info_des">
                      어쩌구저쩌구 설명 알아서 채워 넣으세요 가나다라마바사
                      아자타카ㅏ우러ㅜ어
                    </div>
                  </div>
                </div>
                <div class="field_item">
                  <div class="field_item_bg">
                    <img src="/static/img/item01.jpg" />
                  </div>
                  <div class="field_item_info">
                    <div class="field_item_info_title">Flow chart</div>
                    <div class="field_item_info_des">
                      어쩌구저쩌구 설명 알아서 채워 넣으세요 가나다라마바사
                      아자타카ㅏ우러ㅜ어
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer>
        <div class="footer-screen">
          <div class="footer-info">
            <div class="member">
              <span>장성호</span>
              <span>김채현</span>
              <span>송성혜</span>
              <span>전태림</span>
            </div>
            <div class="location">
              경기도 시흥시 산기대학로 237 한국공학대학교
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://kit.fontawesome.com/4b3c3b390b.js"
    crossorigin="anonymous"
  ></script>
</html>
