<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="static/css/screens/style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-left">
        <a href="index" class="navbar-logo">졸업작품</a>
      </div>
      <ul class="navbar-menu">
        <div class="navbar_list">
          <li><a href="tech">TECH</a></li>
          <li><a href="about">ABOUT US</a></li>
          <li><a href="map">SOLAR MAP</a></li>
          <li><a href="contact">CONTACT</a></li>
        </div>
      </ul>
      <div class="navbar-right">
        <button class="new-button">
          <i class="fas fa-bars"></i>
        </button>
      </div>
    </nav>
    <div class="wrap">
      <div class="main-screen">
        <div class="main_img">
          <img src="static/img/energy.jpg" />
        </div>
        <div class="main_text">
          <div class="main_text_title">
            <h1>Energy service</h1>
          </div>
          <div class="main_text_content">
            <p>태양광 발전량 및 전력 소비 예측을 통한 전기 요금 최소화</p>
          </div>
        </div>
        <div class="main_text_btn">
          <i class="fa fa-arrow-down"></i>
        </div>
      </div>
      <div class="main-scroll">
        <div class="more-screen">
          <div class="tech-screen">
            <div class="more">
              <a class="more_link" href="tech">
                <h2 class="more_title">TECH FIELD</h2>
                <div class="more_icon">
                  <i class="fas fa-arrow-right"></i>
                </div>
              </a>
              <div class="more_info">
                <p>
                  다양한 분야의 연구를 통해 <br />
                  새로운 문화를 창조하는 AI CENTER
                </p>
              </div>
              <div class="tech-wrapper">
                <div class="field_item">
                  <div class="field_item_bg">
                    <img src="static/img/item01.jpg" />
                  </div>
                  <div class="field_item_title">MARKETING INTELLIGENCE</div>
                </div>
                <div class="field_item">
                  <div class="field_item_bg">
                    <img src="static/img/item01.jpg" />
                  </div>
                  <div class="field_item_title">MARKETING INTELLIGENCE</div>
                </div>
                <div class="field_item">
                  <div class="field_item_bg">
                    <img src="static/img/item01.jpg" />
                  </div>
                  <div class="field_item_title">MARKETING INTELLIGENCE</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="more-screen">
          <div class="about-screen">
            <div class="more">
              <a class="more_link" href="about">
                <h2 class="more_title">ABOUT FIELD</h2>
                <div class="more_icon">
                  <i class="fas fa-arrow-right"></i>
                </div>
              </a>
              <div class="more_info">
                <p>
                  경영학부 캡스톤 맴버 <br />
                  데이터사이언스, 프론트엔드, 백엔드, 마케팅까지
                </p>
              </div>
              <div class="about-section">
                <div class="about-list">
                  <div class="about-item first">
                    <div class="about-item_icon">
                      <i class="fas fa-laugh"></i>
                    </div>
                    <div class="about-item-info" data-name="장성호">
                      <div class="about-item_title">JANG SEONG HO</div>
                      <div class="about-item_sub">Front-end web developer</div>
                    </div>
                  </div>
                  <div class="about-item second">
                    <div class="about-item_icon">
                      <i class="fas fa-laugh"></i>
                    </div>
                    <div class="about-item-info" data-name="김채현">
                      <div class="about-item_title">KIN CHAE HYUN</div>
                      <div class="about-item_sub">Front-end web developer</div>
                    </div>
                  </div>
                  <div class="about-item third">
                    <div class="about-item_icon">
                      <i class="fas fa-laugh"></i>
                    </div>
                    <div class="about-item-info" data-name="송성혜">
                      <div class="about-item_title">SONG SEONG HYE</div>
                      <div class="about-item_sub">Front-end web developer</div>
                    </div>
                  </div>
                  <div class="about-item fourth">
                    <div class="about-item_icon">
                      <i class="fas fa-laugh"></i>
                    </div>
                    <div class="about-item-info" data-name="전태림">
                      <div class="about-item_title">JEON TAE RIM</div>
                      <div class="about-item_sub">Front-end web developer</div>
                    </div>
                  </div>
                </div>
                <div class="about-content">
                  <div class="content-inner">
                    <div class="content-inner_img">
                      <img id="img" src="static/img/jsh.png" />
                    </div>
                    <div class="content-inner_des" id="profile">
                      <h4>장성호</h4>
                      <div class="profile-content">
                        한국공학대학교 경영학전공 <br />
                        조장님 짱짱맨이다 이것들아<br />
                        각자 졸업작품 준비하면서 썻던 것들 쓰세요 다다익선
                      </div>
                    </div>
                    <a href="about"
                      ><button class="content_more">자세히 보기 ></button></a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="more-screen">
          <div class="contact-screen">
            <div class="more">
              <a class="more_link" href="contact">
                <h2 class="more_title">CONTACT FIELD</h2>
                <div class="more_icon">
                  <i class="fas fa-arrow-right"></i>
                </div>
              </a>
              <div class="more_info">
                <p>
                  전기요금 최소화를 위한 <br />
                  최적화 방안을 메일로 보내드립니다
                </p>
              </div>
              <div class="contact-bg">
                <div class="contact_title">
                  <h1>Contact us</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer>
        <div class="footer-screen">
          <div class="footer-info">
            <div class="member">
              <span>장성호</span>
              <span>김채현</span>
              <span>송성혜</span>
              <span>전태림</span>
            </div>
            <div class="location">
              경기도 시흥시 산기대학로 237 한국공학대학교
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script>
    $(document).ready(function () {
      $(".navbar").on("mouseenter", function () {
        // .navbar 배경색을 흰색(#FFF)으로 변경
        $(".navbar").css("background-color", "white");
        // .navbar 내부에 있는 모든 요소들의 텍스트 색상을 검정색(#000)으로 변경
        $(".navbar *").css("color", "black");
      });

      $(".navbar").on("mouseleave", function () {
        // 마우스가 떠날 때 원래 배경색으로 변경
        $(".navbar").css("background-color", "");
        // 마우스가 떠날 때 원래 텍스트 색상으로 변경
        $(".navbar *").css("color", "");
      });

      // 윈도우의 스크롤 이벤트를 처리하는 함수
      $(window).scroll(function () {
        // 현재 스크롤 위치를 가져옴
        var scrollY = window.scrollY || window.pageYOffset;

        // 스크롤 위치가 1보다 크면 .navbar 배경색을 검정색(#000)으로 변경
        if (scrollY > 1) {
          $(".navbar").css("background-color", "black");
        } else {
          // 스크롤 위치가 1 이하이면 .navbar 배경색을 투명하게 처리 (기존 상태로 되돌림)
          $(".navbar").css("background-color", "");
        }
      });
    });
  </script>
  <script>
    $(document).ready(function () {
      var profiles = {
        장성호: {
          imageSource: "static/img/jsh.png",
          info: [
            "한국공학대학교 경영학전공",
            "조장님 짱짱맨이다 이것들아",
            "각자 졸업작품 준비하면서 썻던 것들 쓰세요",
          ],
        },
        김채현: {
          imageSource: "static/img/ch.png",
          info: [
            "한국공학대학교 경영학전공",
            "백엔드 웹 개발",
            "각자 졸업작품 준비하면서 썻던 것들 쓰세요",
          ],
        },
        송성혜: {
          imageSource: "static/img/sh.png",
          info: [
            "한국공학대학교 경영학전공",
            "졸업작품 웹 사이트 프론트엔드 담당",
            "html, css, javascript 사용",
          ],
        },
        전태림: {
          imageSource: "static/img/tl.png",
          info: [
            "한국공학대학교 경영학전공",
            "태림아 얼른 돌아와라 심심해",
            "각자 졸업작품 준비하면서 썻던 것들 쓰세요",
          ],
        },
        // 다른 프로필 정보도 추가해주세요
      };

      $(".about-item-info").on("mouseenter", function () {
        var name = $(this).data("name"); // 'data-name' 속성으로부터 이름 추출
        var profile = profiles[name]; // 해당 프로필 정보 가져오기

        if (profile) {
          $("#profile h4").text(name); // 이름 변경
          $("#img").attr("src", profile.imageSource); // 이미지 변경
          $(".profile-content").html(profile.info.join("<br />"));

          // 해당 .about-item 요소의 border-top을 5px 흰색으로 변경
          $(this).closest(".about-item").css("border-top", "5px solid white");

          // 다른 .about-item 요소들의 border-top은 건드리지 않고 유지
          $(".about-item")
            .not($(this).closest(".about-item"))
            .css("border-top", "2px solid white");
        }
      });
    });
  </script>

  <script
    src="https://kit.fontawesome.com/4b3c3b390b.js"
    crossorigin="anonymous"
  ></script>
</html>
