<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="static/css/screens/mapstyle.css" />

    <title>Document</title>
  </head>
  <body>
    <div class="wrap">
      <div class="map-wrapper">
        <div class="map">
          <div class="map-container">
            <div id="map" style="width: 100vw; height: 100vh"></div>
            <div id="modal" style="width: 600px">
              <div class="modal-container">
                <div id="modal-content">
                  <span class="close" onclick="closeModal()">&times;</span>
                  <p id="modal-address"></p>
                </div>
                <div class="modal-inner">
                  <div class="modal-graph">
                    <span>경도와 위도에 기반한 태양광 발전량 그래프</span>
                    <img src="/static/img/item01.jpg" />
                  </div>
                  <div class="modal-input">
                    <div class="modal-input-text">
                      <p>
                        설치 용량을 변경해보세요. <br />
                        보다 정확한 결과를 보실 수있습니다
                      </p>
                    </div>
                    <div class="modal-input-form">
                      <form id="capacity-form">
                        <select name="pannel" id="capacity-select">
                          <option value="1">1kWp</option>
                          <option value="2">2kWp</option>
                          <option value="3">3kWp</option>
                          <option value="4">4kWp</option>
                        </select>
                      </form>
                      <button onclick="calculateCapacity()">조건변경</button>
                    </div>
                  </div>
                </div>
                <div class="contact-form">
                  <div class="contact-text">
                    <p>
                      초기 설치비용 없이 전기료를 절감하는 방법<br />
                      이메일로 부담없이 물어보세요.
                    </p>
                    <button>1:1 무료 상담문의</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div id="clickLatlng"></div>
          <form id="search-form">
            <div class="form-style">
              <div class="navbar-left">
                <a href="index" class="navbar-logo">졸업작품</a>
              </div>
              <div class="search-container">
                <input
                  type="text"
                  id="address-input"
                  placeholder="도로명 주소를 입력하세요"
                />
                <button id="search-btn" type="button" onclick="searchAddress()">
                  검색
                </button>
              </div>
            </div>
          </form>
        </div>
        <div id="search-result"></div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/4b3c3b390b.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=2597e8451d340207037236899f5693f3&libraries=services"></script>

    <script>
      var map;
      var marker;
      var modal = document.getElementById("modal");
      var modalAddress = document.getElementById("modal-address");

      function initMap() {
        var container = document.getElementById("map");
        var options = {
          center: new kakao.maps.LatLng(37.3402588, 126.7335448),
          level: 3,
        };

        map = new kakao.maps.Map(container, options);
      }

      function searchAddress() {
        var address = document.getElementById("address-input").value;

        var geocoder = new kakao.maps.services.Geocoder();
        geocoder.addressSearch(address, function (result, status) {
          if (status === kakao.maps.services.Status.OK) {
            var location = new kakao.maps.LatLng(result[0].y, result[0].x);

            if (!marker) {
              marker = new kakao.maps.Marker({ position: location });
              marker.setMap(map);
            } else {
              marker.setPosition(location);
            }

            map.setCenter(location);

            var searchResultDiv = document.getElementById("search-result");
            searchResultDiv.innerHTML =
              "검색 결과 위치: 위도 " +
              location.getLat() +
              ", 경도 " +
              location.getLng();
            // 검색 결과를 모달창으로 표시
            openModal(result[0].address_name);
          } else {
            alert("검색 결과가 없거나 오류가 발생했습니다.");
          }
        });
      }

      // 모달창 표시
      function openModal(address) {
        modalAddress.innerText = address;
        modal.style.display = "block";
      }

      // 모달창 닫기
      function closeModal() {
        modal.style.display = "none";
      }

      // 모달창 바깥을 클릭하면 모달창 닫기
      window.onclick = function (event) {
        if (event.target === modal) {
          closeModal();
        }
      };

      kakao.maps.load(function () {
        initMap();
      });

      kakao.maps.load(function () {
        initMap();
      });

      function calculateCapacity() {
        var selectedValue = document.getElementById("capacity-select").value;
        console.log(selectedValue);
        var calculatedCapacity = selectedValue * 1000; // 선택된 값에 1000을 곱함

        // Flask 서버로 계산 결과 전송
        fetch("/clear_sky", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            input_variable: calculatedCapacity,
          }),
        })
          .then((response) => response.json())
          .then((data) => {
            // 계산 결과를 이용하여 원하는 동작 수행
            console.log(data.result); // 예시: 계산 결과를 콘솔에 출력
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      }
    </script>
  </body>
</html>
