<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-left">
        <a href="index" class="navbar-logo">졸업작품</a>
      </div>
      <ul class="navbar-menu">
        <div class="navbar_list">
          <li><a href="tech">TECH</a></li>
          <li><a href="about">ABOUT US</a></li>
          <li><a href="map">SOLAR MAP</a></li>
          <li><a href="contact">CONTACT</a></li>
        </div>
      </ul>
      <div class="navbar-right">
        <button class="new-button">
          <i class="fas fa-bars"></i>
        </button>
      </div>
      <!-- 모달창 추가하기 -->
    </nav>
  </body>
</html>
