<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/static/css/screens/techstyle.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-left">
        <a href="index" class="navbar-logo">졸업작품</a>
      </div>
      <ul class="navbar-menu">
        <div class="navbar_list">
          <li><a href="tech">TECH</a></li>
          <li><a href="about">ABOUT US</a></li>
          <li><a href="map">SOLAR MAP</a></li>
          <li><a href="contact">CONTACT</a></li>
        </div>
      </ul>
      <div class="navbar-right">
        <button class="new-button">
          <i class="fas fa-bars"></i>
        </button>
      </div>
    </nav>
    <div class="wrap">
      <div class="main-scroll">
        <div class="more-screen">
          <div class="tech-screen">
            <div class="more">
              <h2 class="more_title">TECH FIELD</h2>

              <div class="more_info">
                <p>
                  태양광 발전량 및 전력 소비 예측을 통한 전기 요금 최소화 방안
                </p>
              </div>
              <div class="tech-wrapper">
                <div class="field_item">
                  <div class="field_item_bg">
                    <img src="static/img/item01.jpg" />
                  </div>
                  <div class="field_item_info">
                    <div class="field_item_info_title">태양광 발전량 예측</div>
                    <div class="field_item_info_des">
                      LSTM, Light GBM, Random Forest, Extra Trees, Clear Sky model을 사용하여 태양광 발전량을 예측
                      1년치 데이터를 사용하여 1시간 단위로 예측을 진행
                      다양한 종합 관측소 데이터를 모두 사용하여 거리에 반비례하는 가중치를 부여하여 예측
                    </div>
                  </div>
                </div>
                <div class="field_item">
                  <div class="field_item_bg">
                    <img src="static/img/item01.jpg" />
                  </div>
                  <div class="field_item_info">
                    <div class="field_item_info_title">전력 사용량 예측</div>
                    <div class="field_item_info_des">
                      60개의 공장 데이터를 사용하여 1시간 단위로 예측을 진행
                      전력 사용량의 경우, 요일, 시간, 계절, 날씨 등에 따라 분산이 크기 때문에
                      ML, 시계열 모델을 사용하지 않고, Bayesian Update를 사용하여 예측
                      하루를 시간대로, 이를 다시 평일과 주말로 구분하여 총 48개(24개의 시간대 X 2개의 요일 유형)의 분포로 업데이트 진행
                      새로 예측한 오차가 클 경우 이를 반영하여 다음 예측시 새로운 데이터에 대한 가중치를 크게 부여,
                      오차가 작을 경우 가중치를 작게 부여하여 분포를 수렴하는 방향으로 설계
                    </div>
                  </div>
                </div>
                <div class="field_item">
                  <div class="field_item_bg">
                    <img src="static/img/item01.jpg" />
                  </div>
                  <div class="field_item_info">
                    <div class="field_item_info_title">PSO를 통한 전기 요금 최소화</div>
                    <div class="field_item_info_des">
                      여기에 식 적어야되는뎅.... 
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer>
        <div class="footer-screen">
          <div class="footer-info">
            <div class="member">
              <span>장성호</span>
              <span>김채현</span>
              <span>송성혜</span>
              <span>전태림</span>
            </div>
            <div class="location">
              경기도 시흥시 산기대학로 237 한국공학대학교
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>

  <script
    src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://kit.fontawesome.com/4b3c3b390b.js"
    crossorigin="anonymous"
  ></script>
</html>
